.r{
    font: 20px Arial;
    color:black;
    width:90px;

    transition:all 0.3s;
    text-decoration:none;
    position: relative;
    left:35%;
    float:bottom;
    top:60%;

}
.r:hover
{
    color:red;
    text-decoration:none;

}
.fas {

    color:deepskyblue;
    padding: 12px;

}
.far:hover
{

    color:red;
}
.fas:hover
{

    color:red;
}

.navbar-brand
{

    position: relative;
    left:5%;
}



.navbar-brand2
{
    padding:16px;
    font: 20px Arial;
    text-align: center;
    transition:all 0.3s;
    text-decoration:none;
    float:right;
    position: relative;
    left:80%;
    color:white


}

.navbar-brand2:hover
{
color:red;
}

.navbar-brand1
 {
     padding:16px;
     font: 20px Arial;
     text-align: center;
     transition:all 0.3s;
     text-decoration:none;
     float:right;
     position: relative;
     left:80%;
     color:white


 }


.navbar-brand1:hover
{
color: red;
    border:none;
}