
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Bienvenue dans mon reseau social</a>
<a class="navbar-brand1" href="/">  <i class="fas fa-at"></i>Contact</a><a class="navbar-brand2" href="/">Acceuil</a>

  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">

    </div>
  </div>

</nav>