
.fas {

    color:deepskyblue;
    padding: 12px;

}
.fas:hover{

    color:red;

}
.navbar-brand
{

    position: relative;
    left:35%;
}
.navbar-brand:hover
{

    color:blue;
}


.navbar-brand2
{
    padding:16px;
    font: 20px Arial;
    text-align: center;
    transition:all 0.3s;
    text-decoration:none;
    float:right;
    position: relative;
    left:40%;
    color:white


}

.navbar-brand2:hover
{

    background-color:blue;
}

.navbar-brand1
 {
     padding:16px;
     font: 20px Arial;
     text-align: center;
     transition:all 0.3s;
     text-decoration:none;
     float:right;
     position: relative;
     left:62%;
     color:white


 }


.navbar-brand1:hover
{
background: blue;
    border:none;
}