

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">



<div class="search-component">
  <h4>

  <input #searchBox value = "" placeholder="recherchez" id="search-box" (keyup)="search(searchBox.value)" />
    &nbsp;<i class="fas fa-search"></i>
  </h4>

  <ul class="search-result">

    <li *ngFor="let post of posts$ | async" >
      <a routerLink="/detail/{{post.id}}">
        {{post.title}}
      </a>
    </li>
  </ul>
</div>

