
.search-component
{

float: right;
left:50%;
top:1px;
}

h4:hover
{

    color:blue;
}
.search-result li {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

    cursor: pointer;
}