
<div class ="d" >
    <h2>ADD A NEW POST:</h2>

    <section>
        <h3>new post title:</h3>
            <input #postTitle />
    </section>

    <section>
        <h3>post description:</h3>
            <input #postDescription />
    </section>
    <h3>author description:</h3>
        <input #postauthor />


</div>

    <!-- (click) passes input value to add() and then clears the input -->
    <button class ="dkt" (click)="add(postTitle.value,postDescription .value,postauthor.value); postTitle.value='';postDescription.value =''; postauthor.value=''">
        ADD
    </button>
<ul class="posts">

    <li class ="f" *ngFor="let post of posts">
         {{post.id}}        {{post.title}}
        {{post.body}}



        <p>

</p>
		{{post.author}}

        <button class="delete" title="delete post"
                (click)="delete(post)">x</button>
        <a routerLink="/detail/{{post.id}}"> <i class="fas fa-eye"></i> </a>   </li>

</ul>




