#r
{
    float:right;
    left:98%;

}

.f
{



    color: black;
    height: 400px;
    text-align: center;
    border-radius:2px;
    border:1px solid black;
    float: left;
    right: 80%;
    width: 50%;

}

.publiez
{
    position: relative;

    left:45%;
    top:60%;

}
.m:hover
{

    color: red;
    text-decoration: none;
}

.delete
{

    position: relative;
    left: 215px;
    bottom: 100%;
    background-color: red;
    color: white;

}

#g
{
bottom:100%;
    color:black;
}
#g:hover
{

    color:red;
}

.post{

    background: gray;
}
.dkt
{
    border:1px solid black;
background: blue;
    position: relative;
    left:25%;
    float:bottom;
    top:60%;
}
.dkt:hover
{
    background: red;

}