

.top
{

    text-align: center;
    text-decoration-color:#fff;
    width:15%;

    position: relative;

    left:45%;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
    transition:all 0.3s;
    text-decoration:none;

}

.top:hover
{
    color:#fff;
    width:15%;

    border:none;
    background-color:red;
}



#r
{
    float:right;
    left:98%;

}

.f
{



    color: black;
    height: 400px;
    text-align: center;
    border-radius:2px;
    border:1px solid black;
    float: left;
    right: 80%;
    width: 50%;

}

.publiez
{

    position: relative;

    left:45%;
    top:60%;

}
.m:hover
{

    color: red;
    text-decoration: none;
}

.delete
{

    position: relative;
    left: 215px;
    bottom: 100%;
    background-color: red;
    color: white;

}

#g
{
bottom:100%;
    color:black;
}
#g:hover
{

    color:red;
}

.dkt
{

    position: relative;
    left:25%;
    float:bottom;
    top:60%;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
}
.dkt:hover
{
    background: red;

}