


<div *ngIf="post" [class.selected]="post === selectedPost"
     (click)="onSelect(post)">
    <h1><span>id: </span>{{post.id}}</h1>
    <h2>{{post.title | uppercase}} Details</h2>

    {{post.body}}
    <div>
        <label>
            <input [(ngModel)]="post.title" placeholder="modifiez titre"/>


        </label>
    </div>
        <label>
        <input [(ngModel)]="post.body" placeholder="modifiez body"/>
        </label>


</div>
<div>
    <button (click)="save()" >save</button>

</div>

<button (click)="goBack()">go back</button>
